.calc {
  padding-top: 263px;
  min-height: 1906px;
  background-image: url('/src/img/bgs/calc-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;

  @media (max-width: 991px) {
    background-image: url('/src/img/bgs/calc-bg-without-hand.png');
    @include bg;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    min-height: auto;
  }

  @media (max-width: 767px) {
    padding-top: 160px;
    top: -30px;
    margin-bottom: -30px;
  }

  @media (max-width: 575px) {
    padding-top: 120px;
  }
}

.calc__title {
  @include max-width(630px);
  color: white;
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  font-family: 'Berlingske';
  margin-bottom: 0;

  span {
    text-transform: uppercase;
    font-style: normal;
  }

  @media (max-width: 767px) {
    font-size: 30px;
  }

  @media (max-width: 575px) {
    font-size: 26px;
  }
}

.calc__stats-img {
  display: block;
  position: relative;
  left: 50%;
  top: -276px;
  margin-bottom: -276px;
  transform: translateX(-50%);
  @media (max-width: 1200px) {
    width: 113%;
    top: -176px;
    margin-bottom: -76px;
  }

  @media (max-width: 767px) {
    width: 115%;
    top: -132px;
    margin-bottom: 15px;
  }

  @media (max-width: 575px) {
    display: none;
  }
}

.calc__calc-box {
  @include max-width(620px);
  margin-left: auto;
  position: relative;
  top: -322px;
  margin-bottom: -322px;

  @media (max-width: 991px) {
    margin-left: 0;
  }

  @media (max-width: 575px) {
    top: 0;
    margin-bottom: 0;
  }
}

.calc__caption {
  padding-left: 38px;
  @include max-width(532px);
  color: white;
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  font-family: 'Berlingske';
  margin-bottom: 75px;

  span.calc__text-uppercase {
    text-transform: uppercase;
    font-style: normal;
  }

  span.calc__text-underline {
    border-bottom: 2px solid white;
  }

  @media (max-width: 991px) {
    padding-left: 0;
    @include max-width(495px);
    margin-bottom: 40px;
  }

  @media (max-width: 575px) {
    font-size: 21px;
  }
}

.calc__calc {
  box-shadow: 0 21px 30px 2px rgba(0, 0, 1, 0.28);
  border-radius: 10px;
  background-image: linear-gradient(to top, #f7f7f7 0%, #f0f0f0 100%);
  min-height: 335px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 58px;
  padding-bottom: 20px;
}

.calc__input {
  width: 100%;
  height: 17px;
  border: solid 0 #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08),
    inset 0 1px 2px rgba(91, 91, 91, 0.3), inset 0 0 0 rgba(0, 0, 0, 0.03);
  background-color: #e7e7e7;
  margin-bottom: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    #4a6da6 0%,
    #4a6da6 50%,
    #e7e7e7 50%,
    #e7e7e7 100%
  );
  border-radius: 8px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 38px;
    height: 38px;
    @include bg;
    background-image: url('/src/img/icons/calc-thumb.png');
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    transition: scale 0.5s;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    width: 38px;
    height: 38px;
    @include bg;
    background-image: url('/src/img/icons/calc-thumb.png');
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    transition: scale 0.5s;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  &::-ms-thumb {
    appearance: none;
    width: 38px;
    height: 38px;
    @include bg;
    background-image: url('/src/img/icons/calc-thumb.png');
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    transition: scale 0.5s;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.calc__end {
  height: 30px;
}

.calc__list {
  display: none;
  @include reset-list;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;

  @media (max-width: 575px) {
    display: block;
  }
}

.calc__item {
  margin-bottom: 20px;
  font-size: 18px;
  &:last-child {
    margin-bottom: 0;
  }

  span {
    font-weight: 600;
  }
}