.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 991px) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 60px);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color:white;
  }
}

.header__logo {
  @media (max-width: 575px) {
    width: 130px;
  }
}

.header__phone-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__phone {
  font-weight: 600;
  color: black;
  font-size: 24px;

  &:focus, &:hover {
    color: black;
  }

  @media (max-width: 575px) {
    font-size: 16px;
  }
}

.header__callback {
  @include reset-btn;
  text-decoration: underline;
  font-size: 16px;
}