.location {
  padding-top: 80px;

  @media (max-width: 767px) {
    padding-top: 40px;
  }
}

.location__top-block {
  position: relative;
  @include max-width(495px);
  margin-bottom: 228px;

  @media (max-width: 991px) {
    margin-bottom: 150px;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
    max-width: 100%;
  }
}

.location__build-img {
  z-index: -1;
  position: absolute;
  bottom: -310px;
  right: -1044px;

  @media (max-width: 1200px) {
    right: -934px;
  }

  @media (max-width: 991px) {
    right: -510px;
    width: 510px;
    bottom: -150px;
  }

  @media (max-width: 767px) {
    position: relative;
    top: 0px;
    right: -30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.location__title {
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  font-family: 'Berlingske';

  @media (max-width: 575px) {
    font-size: 28px;
  }

  span {
    text-transform: uppercase;
    font-style: normal;
    color: $blue;
  }

  &_top {
    margin-bottom: 55px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &_bottom {
    margin-bottom: 84px;
    text-align: center;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.location__text {
  margin-bottom: 0;

  @media (max-width: 575px) {
    font-size: 16px;
  }

  &_top {
    margin-bottom: 60px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &_bottom:first-child {
    margin-bottom: 60px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.location__list {
  @include reset-list;
  margin-bottom: 60px;

  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.location__item {
  position: relative;
  padding-left: 86px;
  margin-bottom: 40px;

  @media (max-width: 575px) {
    font-size: 16px;
  }

  &::before {
    position: absolute;
    content: url('/src/img/icons/location-item-1.png');
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:last-child {
    margin-bottom: 0;

    &::before {
      position: absolute;
      content: url('/src/img/icons/location-item-2.png');
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.location__note {
  font-weight: 600;
  margin-bottom: 0;
  position: relative;

  @media (max-width: 575px) {
    font-size: 16px;
  }

  &::before {
    position: absolute;
    content: url('/src/img/arrow-location.png');
    bottom: -120px;
    left: 170px;

    @media (max-width: 1200px) {
      left: 60px;
    }

    @media (max-width: 767px) {
      content: none;
    }
  }

  &::after {
    position: absolute;
    z-index: -1;
    content: url('/src/img/dolphin-and-circle.png');
    bottom: -450px;
    left: -387px;

    @media (max-width: 1200px) {
      content: none;
    }
  }
}

.location__text-box {
  position: relative;
  @include max-width(555px);
  margin-left: auto;
  margin-bottom: 40px;

  @media (max-width: 767px) {
    max-width: 100%;
    margin-bottom: 0;
  }
}

.location__plan-img {
  z-index: -1;
  position: absolute;
  left: -654px;
  top: -26px;

  @media (max-width: 991px) {
    left: -594px;
  }

  @media (max-width: 767px) {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 20px;
  }
}
