.modal-form {
  position: relative;
  @include max-width(480px);
  box-shadow: 0 21px 30px 2px rgba(0, 0, 1, 0.28);
  background-image: linear-gradient(to top, #f7f7f7 0%, #f0f0f0 100%);
  border-radius: 10px;
  padding-top: 26px;
  padding-left: 62px;
  padding-right: 62px;
  padding-bottom: 30px;

  &_feedback {
    padding-top: 80px;
    margin-bottom: 80px;
  }

  &_desc {
    &::after {
      position: absolute;
      content: url('/src/img/dolphins.png');
      bottom: 135px;
      right: -321px;

      @media (max-width: 575px) {
        content: none;
      }
    }
  }

  &_line {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    position: relative;

    @media (max-width: 767px) {
      @include max-width(480px);
      margin-right: auto;
      margin-left: auto;
    }

    &::after {
      position: absolute;
      z-index: -1;
      content: url('/src/img/gallery/support/circle-purple.png');
      bottom: -220px;
      left: -387px;

      @media (max-width: 1200px) {
        content: none;
      }
    }

    & .modal-form__title {
      max-width: 100%;
    }

    & .modal-form__input-box {
      display: flex;
      justify-content: space-between;

      @media (max-width: 767px) {
        display: block;
      }
    }

    & .modal-form__input-wrapper {
      width: 33%;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 767px) {
        width: 100%;
        margin-right: 0;
      }
    }

    & .modal-form__policy-text {
      @include max-width(595px);
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media (max-width: 575px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &::before {
    content: '';
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    position: absolute;
    @include central-align;
    z-index: -1;
    box-shadow: 0 21px 30px 2px rgba(0, 0, 1, 0.28);
    border-radius: 10px;
    background-color: #ffb047;
  }
}

.modal-form__title {
  @include max-width(212px);
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.modal-form__input {
  position: relative;
  min-height: 72px;
  border: 0;
  border-bottom: 1px solid #939393;
  font-size: 20px;
  font-weight: 300;
  padding-left: 47px;
  padding-right: 15px;
  background-color: transparent;
  color: black;
  width: 100%;

  &::-webkit-input-placeholder {
    color: black;
  }

  &::-moz-placeholder {
    color: black;
  }

  &:-ms-input-placeholder {
    color: black;
  }

  &:-moz-placeholder {
    color: black;
  }
}

.modal-form__input-box {
  margin-bottom: 27px;
}

.modal-form__input-wrapper {
  position: relative;
  &:nth-child(1)::before {
    content: url('/src/img/icons/form/name.png');
    position: absolute;
    top: 16px;
    left: 0px;
  }

  &:nth-child(2)::before {
    content: url('/src/img/icons/form/phone.png');
    position: absolute;
    top: 20px;
    left: 0px;
  }

  &:nth-child(3)::before {
    content: url('/src/img/icons/form/email.png');
    position: absolute;
    top: 17px;
    left: 0px;
  }

  &_city::before {
    content: url('/src/img/icons/form/city.png') !important;
    position: absolute;
    top: 17px;
    left: 0px;
  }
}

.modal-form__policy-text {
  font-size: 16px;
  position: relative;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 23px;
  &::before {
    content: url('/src/img/icons/form/policy-check.png');
    position: absolute;
    top: 0px;
    left: -28px;
  }

  @media (max-width: 575px) {
    font-size: 14px;
  }

  button {
    @include reset-btn;
    font-weight: 100;
    text-decoration: underline;
  }
}
