.slider {
  position: relative;
  z-index: 1;
  @include max-width(1060px);
  margin-right: auto;
  margin-left: auto;

  &::before {
    content: url('/src/img/hearts-left.png');
    position: absolute;
    top: 8px;
    left: -431px;

    @media (max-width: 1200px) {
      content: none;
    }
  }

  &::after {
    content: url('/src/img/hearts-right.png');
    position: absolute;
    z-index: 1;
    top: -69px;
    right: -431px;

    @media (max-width: 1200px) {
      content: none;
    }
  }
}

.slider__wrapper {
  width: 100%;
  overflow: hidden;
}

.slider__img-box {
  display: flex;
  justify-content: space-between;
  transform: translate3d(-200%, 0, 0);
  user-select: none;
  touch-action: pan-y;

  @media (max-width: 767px) {
    transform: translate3d(-400%, 0, 0);
  }
}

.slider__img-item {
  width: 49%;
  margin: 0% calc(2% / 4);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  img,
  div {
    pointer-events: none;
  }

  @media (max-width: 767px) {
    width: 98%;
    flex-shrink: 0;
    margin: 0% 1%;
  }
}

.slider__review {
  @include max-width(421px);
  min-height: 457px;
  padding-top: 33px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 40px;
  box-shadow: 0 33px 30px -20px rgba(0, 0, 1, 0.28);
  border-radius: 10px;
  background-image: linear-gradient(to top, #f7f7f7 0%, #f0f0f0 100%);
  margin-bottom: 54px;

  @media (max-width: 767px) {
    min-height: auto;
  }

  @media (max-width: 575px) {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.slider__avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.slider__name {
  position: relative;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;

  &::after {
    content: url('/src/img/quotes.png');
    position: absolute;
    right: 10px;
    top: -48px;
  }
}

.slider__text {
  margin-bottom: 0;
  text-align: center;

  @media (max-width: 575px) {
    font-size: 15px;
  }
}

.slider__btn-next,
.slider__btn-prev {
  position: relative;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  box-shadow: 0 -1px 0 #1d3356, inset 0 -1px 0 rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(to top, #86bcda 0%, #0056ac 100%);
  border: none;
}

.slider__btn-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  left: -50px;
  background-image: url('/src/img/icons/arrow-left.png'),
    linear-gradient(to top, #86bcda 0%, #0056ac 100%);
  background-position: center center;
  background-repeat: no-repeat;

  @media (max-width: 1200px) {
    left: -25px;
  }

  @media (max-width: 575px) {
    left: -15px;
  }
}

.slider__btn-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-100%);
  right: -50px;
  background-image: url('/src/img/icons/arrow-right.png'),
    linear-gradient(to top, #86bcda 0%, #0056ac 100%);
  background-position: center center;
  background-repeat: no-repeat;

  @media (max-width: 1200px) {
    right: -25px;
  }

  @media (max-width: 575px) {
    right: -15px;
  }
}
